.Timer {
    display: grid;
    grid-template-columns: 4fr 1fr 110px 1fr;
    margin-bottom: 5px;
}
.Button{
    width: 105px;
}
.Name{
    align-self: center;
    justify-self: baseline;
    font-size: 20px;
}
.Date{
    align-self: center;
    justify-self: center;
    font-size: 20px;
}